{% extends 'myapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px; background-color: beige; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <form action="{% url 'signout' %}" method="post">
                {% csrf_token %}
                <h2 style="color: #3498db; text-align: center;">{{user}} successfully logged in!</h2>
                <p style="color: #2c3e50; text-align: center;">User ID: {{id}}</p>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Sign out</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
